@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    text-decoration: none;
    outline: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::selection {
    background: #f9580e;
    color: #fff;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background-color: #0c0b0b;
}

.heading {
    font-size: 4rem;
    color: #f9580e;
    text-align: center;
    padding: 6rem 1rem 0 0;
    letter-spacing: .2rem;
    font-weight: 600;
}

.title {
    padding: 0 1rem;
    font-size: 2rem;
    text-align: center;
    font-weight: 400;
    color: #fff;
}

header {
    width: 100%;
    background: #171717;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    z-index: 1000;
    transition: .2s;
}
header .navbar ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

header .navbar ul li {
    margin: 0 1rem;
}

header .navbar ul li a {
    font-size: 2rem;
    color: white;
    transition: .2s;
}

header .navbar ul li .active,
header .navbar ul li a:hover {
    color: #f9580e;
}


header .logo {
    font-size: 2.5rem;
    color: #fff;
    text-transform: uppercase;
}

header .fa-bars {
    font-size: 3rem;
    color: #f9580e;
    cursor: pointer;
    display: none;
    transition: .2s;
}

.home {
    min-height: 90vh;
    background-image: url(imagenes/inicio.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    z-index: 0;
    overflow: hidden;
    position: relative;
}
.novedades {
    min-height: 90vh;
    background-image: url(imagenes/stmpd-recop.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    z-index: 0;
    overflow: hidden;
    position: relative;
}
.merch {
    min-height: 80vh;
    background-image: url(imagenes/buzo.stmpd.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    z-index: 0;
    overflow: hidden;
    position: relative;
}
.faq {
    min-height: 90vh;
    background-image: url(imagenes/omnia1.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    z-index: 0;
    overflow: hidden;
    position: relative;
}
.contacto {
    min-height: 85vh;
    background-image: url(imagenes/staff-2.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    z-index: 0;
    overflow: hidden;
    position: relative;
}
.shows {
    min-height: 90vh;
    background-image: url(imagenes/inicio-3.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    z-index: 0;
    overflow: hidden;
    position: relative;
}

.home .content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    padding-top: 25rem;
    text-align: center;
}

.home .content h1 {
    font-size: 5rem;
    color: #fff;
    padding: 0 1rem;
    text-shadow: 0 .3rem .5rem rgba(0, 0, 0, .3);
    text-transform: uppercase;
}

.home .content p {
    font-size: 2rem;
    color: #eee;
    padding: 1rem 25rem;   
}

.home .content button {
    height: 5rem;
    width: 20rem;
    border-radius: 1rem;
    background: #f9580e;
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
    transition: .2s;
    box-shadow: 0 .3rem 1rem rgba(0, 0, 0, .3);
    margin: 4rem 0;
    border-color: #f9580e;
}

.home .content button:hover {
    background: none;
    border: .2rem solid #f9580e;
}

.product {
    text-align: center;
    margin: 100px 0;
    height: auto;
}

.product .box-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.product .box-container .box {
    height: 25rem;
    width: 25rem;
    background: #171717;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 0 .3rem 5rem rgba(0, 0, 0, .5);
    margin: 2rem;
    cursor: pointer;
}

.product .box-container .box i{
    height: 6rem;
    width: 6rem;
    line-height: 6rem;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    background: #ffc246 ;
    font-size: 3rem;
    margin: 2rem 0;
    transition: .2s;
}

.product .box-container .box h3 {
    font-size: 2rem;
    color: #f9580e;
    transition: .2s;
}

.product .box-container .box p {
    font-size: 1.3rem;
    padding: .7rem 2rem;
    color: #fff;
}

.product .box-container .box:hover i {
    background: #f9580e;
}

.product .box-container .box:hover h3 {
    color: #ffc246;
}

.product button {
    height: 5rem;
    width: 20rem;
    border-radius: 1rem;
    background: #f9580e;
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
    transition: .2s;
    box-shadow: 0 .3rem 1rem rgba(0, 0, 0, .3);
    margin-top: 50px;

   
}

.product button:hover {
    background: none;
    border: .2rem solid #f9580e;
}

.about {
    background-image: url(imagenes/staff.jpg);
    background-size: cover;
}

.about .title {
    margin-bottom: 3rem;
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.about.image img {
    height: 30vh;
    width: 50vw;
    margin-left: 100px;
}

.about.content {
    padding-left: 5rem;
    margin: 5rem 0;
}

.about .content h3 {
    font-size: 3rem;
    color: #f9580e;
}

.about .content p {
    font-size: 1.6rem;
    color: #fff;
    padding: 1rem 0;
}

.about .content button {
    height: 5rem;
    width: 17rem;
    background: #f9580e;
    color: #fff;
    border-radius: 1rem;
    box-shadow: 0 .3rem 1rem rgba(0, 0, 0, .3);
    cursor: pointer;
    font-size: 2rem;
    transition: .2s;
    margin-top: 2rem;
}

.about .content button:hover {
    background: none;
    border: .2rem solid #f9580e;
}
.producto{
    padding-top: 5px;
}
.descripcion{
    color: #eee;
    font-size: 1.5rem;
    padding-left: 6cm;
}
.staff{
    padding-left: 12cm;
}
.titulo-prods{
    color: #eee;
    font-size: 1cm;
    text-transform: uppercase;

}
.derechos{
    color: darkgray;
}

.grid{
    display: grid;
    width: 80%;
    margin: 0;
    margin-left: 60px;
    
    padding: 20px;
    grid-template-columns: repeat(4, 320px);
    justify-content: center;
    justify-content: space-between;
    padding-left: 120px;
    
    

}
.grid-hijo{
    background-color: #171717;
    padding: 5px;
    width: 250px;
    height: 250px;
    border: 4px;
    text-align: center;
    font-size: 3rem;
    color: #eee;
    
}
.grid-show{
    display: grid;
    width: 90%;
    grid-template-columns: 95%;
    grid-template-rows: repeat(9, auto);
    margin: 10px;
    background-color: #171717;
    justify-content: center;
}
.ghijo-show{
    height: 600px;
    margin: 1cm;
}
.title-show{
    text-transform: uppercase;
    text-decoration: underline;
    border: 5px;
    text-align: center;
    font-size: 3rem;
    color: whitesmoke
}
.mg{
    min-height: 50hv;
    background-image: url(imagenes/mg.jpg);
    background-color: rgb(50, 50, 50);
    background-blend-mode: soft-light;
    background-size: cover;
}
.a21{
    background-image: url(imagenes/area21\,2.jpg);
    background-color: rgb(50, 50, 50);
    background-blend-mode: soft-light;
}
.db{
    background-image: url(imagenes/db-3.jpeg);
    background-color: rgb(50, 50, 50);
    background-blend-mode: soft-light;
    color: #0c0b0b;
}
.bl{
    background-image: url(imagenes/bl.jpg);
    background-color: rgb(50, 50, 50);
    background-blend-mode: soft-light;
}
.bc{
    background-image: url(imagenes/bc.jpeg);
    background-color: rgb(50, 50, 50);
    background-blend-mode: soft-light;
}
.ms{
    background-image: url(imagenes/ms.jpg);
    background-color: rgb(50, 50, 50);
    background-blend-mode: soft-light;
}
.jm{
background-image: url(imagenes/screen.jpg);
background-color: rgb(50, 50, 50);
background-blend-mode: soft-light;
}
.loop{
background-image: url(imagenes/loop.jpg);
background-color: rgb(100, 100, 100);
background-blend-mode: soft-light;
}
.jj{
background-image: url(imagenes/jj.jpg);
background-color: rgb(50, 50, 50);
    background-blend-mode: soft-light;
}
.faqq{
    background-image: url(imagenes/staff.jpg);
    background-size: cover;
}
.fechas{
    color: aliceblue;
    text-decoration: none;
    font-size: 2rem;

}
.ct{
    font-size: 1.5rem;
}
.boton-neon{
    position: relative;
    display: block;
    padding: 15px 30px;
    color: #fff;
    letter-spacing: 4px;
    font-size: 24px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.2s;
    cursor: pointer;
}
.boton-neon:hover{
    background: #a945c7;
    box-shadow: 0 0 10px #a945c7, 0 0 40px #a945c7, 0 0 80px #a945c7;
    transition-delay: 1s;
}
.boton-neon span{
    position: absolute;
    display: block;
}
#span1{
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#a945c7);
}
.boton-neon:hover #span1{
    left: 100%;
    transition: 1s;
}
#span3{
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#a945c7);
}
.boton-neon:hover #span3{
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}
#span2{
    top: -100%;
    right: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(180deg,transparent,#a945c7);
}
.boton-neon:hover #span2{
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}
#span4{
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(360deg,transparent,#a945c7);
}
.boton-neon:hover #span4{
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}
.grid-album{
    display: grid;
    width: 95%;
    grid-template-columns: 30% 70%;
    grid-template-areas: "main" "article";
    grid-template-rows: repeat(2, auto);
    margin: 10px;
    background-color: #171717;
    justify-content: center;
}
.sentio-foto{
background-image: url(imagenes/sentio.jpg);
padding: 30px;
}
.sentio-song{
    background-image: url(imagenes/sentio3.jpg);
}
.album-title{
    color: #eee;
    font-size: 20px;
}
.boton-neon-album{
    position: relative;
    display: block;
    padding: 15px 30px;
    color: #fff;
    letter-spacing: 4px;
    font-size: 13px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.2s;
    cursor: pointer;
}
.boton-neon-album:hover{
    background: #3739a7;
    box-shadow: 0 0 10px #3739a7, 0 0 40px #3739a7, 0 0 80px #3739a7;
    transition-delay: 1s;
}
.boton-neon-album span{
    position: absolute;
    display: block;
}
#span1-album{
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#a945c7);
}
.boton-neon-album:hover #span1-album{
    left: 100%;
    transition: 1s;
}
#span3-album{
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#a945c7);
}
.boton-neon-album:hover #span3-album{
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}
#span2-album{
    top: -100%;
    right: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(180deg,transparent,#a945c7);
}
.boton-neon-album:hover #span2-album{
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}
#span4-album{
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(360deg,transparent,#a945c7);
}
.boton-neon-album:hover #span4-album{
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}
.area21{
    background-image: url(imagenes/area-portada.jpg);
    padding: 30px;
    background-position: center;
}
.area21-song{
    background-image: url(imagenes/area21portada4.webp);
    background-position: center;
}
.icon{
    background-color: #0c0b0b;
    color: #a945c7;
    border-radius: 1rem;
    
}
.producto-index{
    display: grid;
    width: 95%;
    background-color: violet;
    margin: 25px;
}
.box-container-index{
    display: grid;
    height: auto;
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
    grid-auto-rows: 22fr;
    grid-auto-flow: dense;
    gap: 1rem;
    justify-content: center;
    padding-left: 20%;
    padding-right: 10%;
}
.index-img{
    max-height: fit-content;
    max-width: fit-content;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.box-index{
    padding-top: 1rem;
    background-color: #171717;
    text-align: center;
    border: 1px;
    border-radius: 2rem;
    color: aliceblue;

}
.indexshow{
    height: 100vh;
    display: flex;
    align-items: center;
    color: #fff;
    width: 100%;
}
.indexshow-video{
    width: 100%;
    overflow: hidden;
    position: absolute;
}

.indexshow-content{
    padding-top: 1rem;
    z-index: 2;
}
.titulo-indexshow-content{
    color: #eee;
    text-align: start;
    text-transform: uppercase;
    padding-left: 13cm;
    font-size: 5rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 2cm;
}
.grid-showindex{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1rem) );
    grid-auto-rows: 22fr;
    grid-auto-flow: dense;
    margin-left: 35%;
    gap: 2%;
}
.hijo-showindex{
background-color: #0c0b0b;
z-index: 2;
opacity: 50%;
border: 1px solid black;
border-radius: 2rem;
color: white;
column-gap: 2%;
justify-content: center;
font-size: 1.5rem;
padding: 5%;
}

.tiendaindex{
    grid-template-rows: 2;
    height: 90rem;
    gap: 1rem;
    
}
.grid-faq{
    display: grid;
    width: 95%;
    justify-content: center;
    background-image: url(imagenes/aurora.jpg);
    background-size: cover;
    opacity: 50%;
    grid-template-columns: 1;
    grid-template-rows: auto;
    height: auto;
    border: 3px solid purple;
    text-transform: none;
    margin-top: 5%;
    margin-bottom: 2%;
}
.gridhijo-faq{
    border-radius: 2rem;
    border: #ffc246;
    color: #eee;
    font-size: 2rem;
    gap: 1rem;
}

.content{
    margin-left: 5%;
}
.seccion-tienda{
    min-height: min-content;
    margin-bottom: 10%;
}
.btn-tienda{
    margin-top: 95%;
}
.box-tienda{
    grid-template-columns: repeat(auto-fill, minmax(40rem, 65%));
    margin-bottom: 20%;
}
.tiendaindex{
    height: auto;
}
nav img{
    display: none;
}
.btn-menu{
    display: none;
}

@media (max-width: 768px) {
    
    html {
        font-size: 55%;
    }
    nav{
        position: fixed;
        top: 0;
        right: 0;
        background: black;
        width: 100%;
        height: 20vh;
        z-index: 1;
    }

    ul{
    flex-direction: row;
    }
    ul li {
    margin-top: 0;
    margin-left: 0 ;
    }
    ul li a{
     color: aquamarine; 
       
    }
    nav img{
        display: block;
        width: 70px;
    }
    .back-menu{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, .5);
        display: none;
    }
    .btn-menu{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        background: #171717;
        color: #f9580e;
        border-radius: 50px ;
        cursor: pointer;


    }
    .btn-menu:hover{
        
        background: white;
        opacity: 40%;
        
        

    }
}





        







